会員情報編集
<%= form_with model: @customer,local:true do |f| %>
 <div class="field">
    <%= f.label :"氏名" %>
    <%= f.text_field :last_name,placeholder: "令和", autofocus: true %>
        <%= f.text_field :first_name, placeholder: "道子",autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :"フリガナ" %>
    <%= f.text_field :last_name_kana, placeholder: "レイワ",autofocus: true %>
    <%= f.text_field :first_name_kana, placeholder: "ミチコ",autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :"郵便番号"%>
    <%= f.text_field :postal_code, placeholder: "0000000",autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :"住所"%>
    <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0",autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :"電話番号" %>
    <%= f.text_field :telephone_number, placeholder: "00000000000",autofocus: true %>
  </div>

    <div class="field">
    <%= f.label :"(メールアドレス)"%>
    <%= f.email_field :email, autofocus: true, placeholder: "sample@example.com",autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "編集内容を保存" %>
  </div>
<% end %>

  <%= link_to "退会する", unsubscribe_customer_path %>

