<div class="container my-5">
  <div class="row">
    <h5>商品新規登録</h5>
  </div>
  
  
<%= form_with model: @item,url: admin_items_path, local:true do |f| %>
  <div class="field">
    <%= f.label :"画像" %>
    <%= f.file_field :image, accept: 'image/*' %>
  </div>

  <div class="field">
    <%= f.label :"商品名" %>
    <%= f.text_field :name, placeholder: "商品名"%>
  </div>

  <div class="field">
    <%= f.label :"商品説明"%>
    <%= f.text_area :introduction, placeholder: "ここに説明文を記述します" %>
  </div>

  <div class="field">
    <%= f.label :"ジャンル"%>
    <%= f.text_field :genre_id, placeholder: "" %>
  </div>

  <div class="field">
    <%= f.label :"税抜価格" %>
    <%= f.text_field :price_tax_out, placeholder: "1000"%>円
  </div>
  
  <div class="field">
    <%= f.label :"販売ステータス"%>
    <%= f.radio_button :status, "true" %> 販売中
    <%= f.radio_button :status, "false" %> 販売停止中
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

</div>