<h4>注文履歴詳細</h4>

<table>

  <tr><th>購入者</th><td><%= @customer.last_name + @customer.first_name %></td></tr>
  <tr><th>注文日</th><td> <%= @order.created_at.strftime('%Y/%m/%d')%></td></tr>
  <tr><th>発送先</th><td> 〒<%= @order.postal_code %> <%= @order.address %> <%= @customer.last_name + @customer.first_name %></td></tr>
  <tr><th>支払方法</th><td> <%= @order.payment_method_i18n %></td></tr>
  <tr><th>注文ステータス </th>
      <td>
          <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
          <!--どこにいくかパスを書いてあげないとrouting errorが出る-->
          <%= f.select :order_status, Order.order_statuses.keys.map {|k| [I18n.t("enums.order.order_status.#{k}"), k]} %> 
          <!--複数形にしないと動かない-->
          <%= f.submit "更新", class: "btn btn-success" %>
          <% end %>
      </td>
  </tr>
 
</table>

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th>注文ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @order_details.each do |order_detail| %>
      <tr>
        <td>
          <%= order_detail.item.name %>
        </td>
        <td><%= order_detail.item.with_tax_price %></td>
        <td><%= order_detail.amount %></td>
        <td><%= order_detail.item.with_tax_price * order_detail.amount %></td>

        <td>
          <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch do |f| %>
          <!--each文の中だからurlにid入れよう-->
            <%= f.select :product_status, OrderDetail.product_statuses.keys.map {|k| [I18n.t("enums.order_detail.product_status.#{k}"), k]} %> 
            <%= f.submit "更新", class: "btn btn-success" %>
          <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<strong>商品合計</strong><%= @sum %>円</br>
<strong>送料</strong>800円</br>
<strong>請求金額合計</strong><%= @sum + 800 %>円