<h4>注文情報入力</h4>
<h5>支払方法</h5>
<%= form_with model: @order, url: order_confirm_path, local: true do |f| %>
    <%= f.radio_button :payment_method, "credit_card" %>
    <%= f.label :payment_method, "クレジットカード" %>
    
    <%= f.radio_button :payment_method, "transfer" %>
    <%= f.label :payment_method, "銀行振込" %>
    
    <h5>お届け先</h5>
    <%= f.radio_button :address_number, 1, checked: "checked" %>
    <%= f.label :ご自身の住所 %>
    <%= @customer.postal_code %><%= @customer.address %><br>
	<%= @customer.last_name %><%= @customer.first_name %><br>
    
    <%= f.radio_button :address_number, 2 %>
    <%= f.label :登録先住所から選択 %>
    <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :full_address) %>
    
    <%= f.radio_button :address_number, 3 %>
    <%= f.label :新しいお届け先 %>
    <%= f.label :postal_code, "郵便番号"%>
    <%= f.text_field :postal_code %>
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %>
    <%= f.label :name, "宛名" %>
    <%= f.text_field :name %>
    
    <%= f.submit "確認画面へ進む" %>
    
<% end %>