<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h4>ジャンル検索</h4>
      
      <% @genres.each do |genre| %>
      <tr>
        <td>
        <%= link_to items_path(genre_id: genre.id) do%>
          <%= genre.name %>
        <% end %>
        </td>
      </tr>
      </br>
    <% end %>

    </div>
    <div class='col-md-8 offset-md-1'>
        <h4><%= "#{@title}一覧 （全#{@items.count}件）" %></h2>
        <% @items.each do |item| %>
            <div class="product-box">
                <table class="table">
                    <tr>
                        <th><%= link_to item_path(item) do%>
                             <%= image_tag item.get_image(100,100) %>
                             <% end %></th>
                    </tr>
                    <tr>
                        <th><%= item.name %></th>
                    </tr>
                    <tr>
                        <th>￥<%= (item.price_tax_out * 1.1).to_i %></th>
                    </tr>
                </table>
            </div>
        <% end %>
    </div>
  </div>
</div>